/.vs
/Video-Tools/AVIMux_GUI/Backup
/Video-Tools/AVIMux_GUI/Debug
/Video-Tools/AVIMux_GUI/Release
/Video-Tools/AVIMux_GUI.Test/Backup
/Video-Tools/AVIMux_GUI.Test/Debug
/Video-Tools/AVIMux_GUI.Test/Release
*~
